// Fonts
$font-main: 'Roboto', serif;

// Colors
$color-primary: #153aee;
$color-static: #f1faee;
$color-specific: #eb240a;
$color-dark: #0d0d0a;

// Padding
$padding-main: 10px 20px;

//Transition
$transition: 0.5s ease-out;
