@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-weight: 400;
}

body {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 600;
  color: #0d0d0a;
  background-color: #f1faee;
  box-sizing: border-box;
}

p {
  font-size: 16px;
  line-height: 148%;
}

.header {
  width: 100%;
  max-width: 1440px;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px 20px;
}

.header-logo {
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #153aee;
}

.main {
  width: 100%;
  max-width: 1440px;
  min-height: calc(100vh - 100px);
  margin: 0 auto;
  padding: 10px 20px;
}

.main-btns__level-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-btns__level-container p {
  margin-left: auto;
}

.main-container__game-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 30px;
}

.main_game-container {
  width: 100%;
  max-width: 790px;
  margin: 0 auto;
}

.game-container__input {
  display: block;
  width: 300px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: 35px;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: none;
}

.game-container__keyboard-container {
  height: 170px;
}

.keyboard-number__container,
.keyboard-letters__container {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  justify-content: center;
}
.keyboard-number__container.hide,
.keyboard-letters__container.hide {
  display: none;
}

.keyboard-letters__container {
  margin-top: 6px;
}

.keyboard-number__container {
  margin-bottom: 6px;
}

.footer {
  width: 100%;
  max-width: 1440px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0 auto;
  padding: 10px 20px;
}

.footer-link {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #eb240a;
}

.btn {
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 7px;
  background-color: #c7eac9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.btn:hover {
  background-color: #81d185;
}

.btn[disabled] {
  background-color: #c7eac9;
  cursor: not-allowed;
}

.level-btn,
.game-btn {
  min-width: 75px;
  padding: 2px 8px;
}
.level-btn.active,
.game-btn.active {
  background-color: #81d185;
}

.keyboard-btn.active {
  background-color: #81d185;
}

.keyboard-btn__number {
  width: calc(10% - 6px);
  padding: 7px;
}

.keyboard-btn__letter {
  width: calc(11.1111111111% - 6px);
  padding: 7px;
}

.start-btn {
  display: block;
  width: 200px;
  margin: 24px auto;
}
.start-btn.hide {
  display: none;
}