@import '../abstracts/variables';

.header {
  width: 100%;
  max-width: 1440px;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: $padding-main;
}

.header-logo {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  background-image: linear-gradient(to right, #00c4ff, #ffe700);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}

@media (width < 500px) {
  .header {
    padding: $padding-main-small;
  }
}
