@import '../abstracts/variables';

.main {
  width: 100%;
  max-width: 1440px;
  min-height: calc(100vh - 100px);
  margin: 0 auto;
  padding: $padding-main;
}

.main-btns__level-container {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    margin-left: auto;
  }
}

.main-container__game-btns {
  display: flex;
  justify-content: space-between;
  height: 28px;
  margin-top: 25px;
  margin-bottom: 30px;
}

@media (width < 500px) {
  .main {
    padding: $padding-main-small;
  }
}
